<h1 class="text-4xl font-bold text-black lg:text-5xl">TAG</h1>
<div class="mt-4 flex flex-col gap-1 lg:mt-8 lg:gap-2">
  <p class="text-xl font-semibold text-black lg:text-2xl">다양한 주제의 태그를 통해</p>
  <p class="text-xl font-semibold text-black lg:text-2xl">관심 있는 콘텐츠를 모아보세요!</p>
</div>
