---
import type { ProjectLink } from '@custom-types/post';
import { IconChevronRight } from '@tabler/icons-react';

type Props = ProjectLink;

const { name, href } = Astro.props;
---

{
  href === '#' || href === '' ? null : (
    <a
      class="inline-flex items-center gap-2 rounded-full bg-gray-100 py-3 pl-5 pr-4 text-sm font-medium text-gray-600"
      href={href}
    >
      <span>{name.toUpperCase()}</span>
      <IconChevronRight className="h-4 w-4" />
    </a>
  )
}
