---
import { twMerge } from 'tailwind-merge';
import { TRANSITION_POINT } from '@constants';
import Logo from './Logo.astro';
import Navigation from './Navigation.astro';
import SearchButton from './SearchButton';
import MenuButton from './MenuButton';

type Props = {
  hasBg?: boolean;
};

const { hasBg = false } = Astro.props;
---

<header
  class={twMerge(
    'z-header fixed inset-0 h-64pxr transition duration-300',
    hasBg ? 'bg-white border-b border-b-gray-200 text-black' : 'bg-transparent text-white',
  )}
>
  <div
    class="desktop:max-w-1044pxr flex h-full w-full justify-between pl-24pxr pr-14pxr desktop:mx-auto desktop:pl-40pxr desktop:pr-30pxr"
  >
    <div class="flex h-full items-center desktop:gap-60pxr">
      <Logo />
      <Navigation hasBg={hasBg} />
    </div>
    <ul class="relative flex h-full items-center">
      <SearchButton client:load />
      <MenuButton client:load />
    </ul>
  </div>
</header>

<script define:vars={{ hasBg, TRANSITION_POINT }}>
  if (hasBg) return;

  /** @type {HTMLElement} */
  const header = document.querySelector('header');

  window.addEventListener('scroll', () => {
    if (window.scrollY > TRANSITION_POINT) {
      header.classList.add('bg-white', 'border-b', 'border-b-gray-200', 'text-black');
      header.classList.remove('bg-transparent', 'text-white');
    } else {
      header.classList.remove('bg-white', 'border-b', 'border-b-gray-200', 'text-black');
      header.classList.add('bg-transparent', 'text-white');
    }
  });
</script>
