---
import { Header, Footer } from '@components/common';
import { css } from '@styled-system/css';
import '@styles/global.css';

type Props = {
  pageTitle: string;
  headerHasBg?: boolean;
};

const { pageTitle, headerHasBg = false } = Astro.props;
const { pathname } = Astro.url;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="generator" content={Astro.generator} />

    <title>{pageTitle}</title>
  </head>
  <body>
    <Header hasBg={headerHasBg} pathname={pathname} client:load />
    <main
      class={css({
        // w: 'full',
        // h: 'full',
        minHeight: 'calc(100% - 164px)',
        // h: 'calc(100% - 164px)',
        desktop: {
          minHeight: 'calc(100% - 208px)',
          // h: 'calc(100% - 208px)',
        },
      })}
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
