---
import { Header, Footer } from '@components/common';
import '@styles/global.css';
import { twMerge } from 'tailwind-merge';

type Props = {
  pageTitle: string;
  headerHasBg?: boolean;
  className?: string;
};

const { pageTitle, headerHasBg = false, className } = Astro.props;
const { pathname } = Astro.url;
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="generator" content={Astro.generator} />

    <title>{pageTitle}</title>
  </head>
  <body>
    <Header hasBg={headerHasBg} pathname={pathname} client:load />
    <main class={twMerge('min-h-[calc(100%-160px)] lg:min-h-[calc(100%-192px)]', headerHasBg && 'pt-16', className)}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
