---
type Props = {
  name: string;
};

const { name } = Astro.props;
---

<li class="flex items-baseline gap-6 text-base">
  <div class="w-[80px] min-w-[80px] rounded-md bg-black py-2 text-center text-sm text-white">{name}</div>
  <div><slot /></div>
</li>
