.renderer {
  color: rgb(64, 64, 64);

  & > :is(h1, h2, h3, p, ul, code):first-child {
    margin-top: 0;
  }
}

// 제목 (Heading)
.renderer > :is(h1, h2, h3) {
  color: rgb(38, 38, 38);
  font-weight: 600;
}

.renderer > h1 {
  position: relative;
  margin-top: 2rem;
  padding-left: 2rem;
  font-size: 1.875rem;
  line-height: 2.625rem;

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 0.75rem;
    height: 3rem;
    transform: translateY(-50%);
    background: rgb(139, 92, 246);
    border-radius: 0.125rem;
    content: '';
  }

  &:not(:first-of-type) {
    margin-top: 5rem;
  }

  & + :is(h2, h3),
  & + p img {
    margin-top: 2rem;
  }

  @media (min-width: 1024px) {
    margin-top: 3rem;
    font-size: 2.25rem;
    line-height: 3rem;

    &:not(:first-of-type) {
      margin-top: 6rem;
    }

    & + :is(h2, h3),
    & + p img {
      margin-top: 3rem;
    }
  }
}

.renderer > h2 {
  font-size: 1.5rem;
  line-height: 2.25rem;

  & + table {
    margin-top: 1.5rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.875rem;
    line-height: 2.625rem;

    & + table {
      margin-top: 2rem;
    }
  }
}

.renderer > h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;

  & + ul {
    margin-top: 0.5rem;
  }

  @media (min-width: 1024px) {
    font-size: 1.25rem;
    line-height: 1.875rem;

    & + ul {
      margin-top: 1rem;
    }
  }
}

// 리스트 (List)
.renderer > ul {
  padding-left: 1.5rem;
  list-style: disc;
  font-size: 1rem;
  font-variant-numeric: tabular-nums;
  line-height: 2rem;

  & + h2 {
    margin-top: 3rem;
  }

  & + h3 {
    margin-top: 1.5rem;
  }

  & + :is(p img, figure) {
    margin-top: 1rem;
  }

  @media (min-width: 1024px) {
    & + h2 {
      margin-top: 4rem;
    }

    & + h3 {
      margin-top: 2rem;
    }

    & + p img {
      margin-top: 1.5rem;
    }
  }
}

// 테이블 (Table)
.renderer > table {
  width: 100%;

  thead {
    display: none;
  }

  tr {
    border-top: 1px solid rgb(229, 229, 229);
    border-bottom: 1px solid rgb(229, 229, 229);
  }

  td {
    padding: 0.75rem 0;
    font-size: 1rem;
    line-height: 2rem;
  }

  td:first-of-type {
    width: 128px;
    min-width: 128px;
    padding-right: 2rem;
    font-weight: 500;
    font-style: italic;
    text-align: right;
  }

  & + h2 {
    margin-top: 3rem;
  }

  & + h3 {
    margin-top: 1.5rem;
  }

  @media (min-width: 1024px) {
    td:first-of-type {
      width: 160px;
      min-width: 160px;
      padding-right: 3rem;
    }

    & + h2 {
      margin-top: 4rem;
    }

    & + h3 {
      margin-top: 2rem;
    }
  }
}

// 문단 (Paragraph)
.renderer > p {
  & + ul {
    margin-top: 0.5rem;
  }

  &:first-of-type img {
    border-radius: 1rem;
  }

  @media (min-width: 1024px) {
    & + ul {
      margin-top: 1rem;
    }
  }
}

// 링크 (Link)
.renderer a {
  color: rgb(139, 92, 246);

  &:hover {
    color: rgb(139, 92, 246, 0.9);
  }
}
