<h1 class="text-4xl font-bold text-black lg:text-5xl">STORY</h1>
<div class="mt-4 flex flex-col gap-1 lg:mt-8 lg:gap-2">
  <p class="text-xl font-semibold text-black lg:text-2xl">학습하고, 경험한 것 외에</p>
  <p class="text-xl font-semibold text-black lg:text-2xl">일상 속의 작은 이벤트도 기록합니다.</p>
</div>
