---
import { Responsive, Section } from '@components/common';
---

<Section className="mt-6 lg:mt-8">
  <Responsive>
    <div class="flex items-center justify-between gap-4">
      <slot name="list" />
      <slot name="button" />
    </div>
  </Responsive>
</Section>
