---
import authorImageFile from '@assets/lucid-full.webp';
import { AboutMarkdownRenderer } from '@components/about';
import { Lazy, Responsive, Section } from '@components/common';
import { Seo } from '@components/helper';
import { Layout } from '@components/layout';
import { SITE_NAME } from '@constants/seo';

const mdx = await Astro.glob('../content/about/about.mdx');
const { Content } = mdx[0];

const pageTitle = `소개 - ${SITE_NAME}`;
---

<Layout pageTitle={pageTitle} hasHeaderBackgrond>
  <Section>
    <Responsive>
      <Lazy>
        <AboutMarkdownRenderer>
          <Content />
        </AboutMarkdownRenderer>
      </Lazy>
    </Responsive>
  </Section>
  <Seo slot="meta" title={pageTitle} imageSrc={authorImageFile.src} />
</Layout>
