---
import { AboutMarkdownRenderer } from '@components/about';
import { Lazy, Responsive, Section } from '@components/common';
import { PageSEO } from '@components/helper';
import { Layout } from '@components/layout';

const mdx = await Astro.glob('../content/about/about.mdx');
const { Content } = mdx[0];
---

<Layout pageTitle="루시드를 소개합니다! (｡•̀ᴗ-)✧" headerBg>
  <Section>
    <Responsive>
      <Lazy>
        <AboutMarkdownRenderer>
          <Content />
        </AboutMarkdownRenderer>
      </Lazy>
    </Responsive>
  </Section>

  <!-- HEAD -->
  <PageSEO slot="meta-data" title="루시드를 소개합니다! (｡•̀ᴗ-)✧" keywords={['소개', 'About']} />
</Layout>
