---
import { AboutMarkdownRenderer } from '@components/about';
import { Lazy, Responsive, Section } from '@components/common';
import { PageSEO } from '@components/helper';
import { Layout } from '@components/layout';
import { ABOUT_OG_IMAGE, SITE_NAME } from '@constants/seo';

const mdx = await Astro.glob('../content/about/about.mdx');
const { Content } = mdx[0];

const pageTitle = `(｡•̀ᴗ-)✧ 루시드를 소개합니다 - ${SITE_NAME}`;
---

<Layout pageTitle={pageTitle} headerBg>
  <Section>
    <Responsive>
      <Lazy>
        <AboutMarkdownRenderer>
          <Content />
        </AboutMarkdownRenderer>
      </Lazy>
    </Responsive>
  </Section>

  <!-- HEAD -->
  <PageSEO
    slot="meta-data"
    title={pageTitle}
    description="다양한 상상을 현실로 만드는 멀티 크리에이터를 꿈꾸고 있습니다!"
    keywords={['소개', 'About']}
    image={ABOUT_OG_IMAGE}
  />
</Layout>
