---
import MainLayout from '@components/layout/MainLayout.astro';
import HomeHeroImage from '@components/home/HomeHeroImage.astro';
import '@styles/global.css';
// import IconButton from '@components/common/IconButton';
// import Icon from 'astro-icon';
---

<MainLayout pageTitle="루시드 드림">
  <HomeHeroImage />
  <div class="mt-64pxr">
    <div class="">
      <div class="flex items-center justify-between pl-24pxr pr-14pxr">
        <h2 class="text-3xl font-bold text-black">프로젝트</h2>
        <div class="flex">
          <!-- <IconButton>
            <Icon name="tabler:chevron-left" class="h-24pxr w-24pxr text-gray-200" />
          </IconButton>
          <IconButton>
            <Icon name="tabler:chevron-right" class="h-24pxr w-24pxr" />
          </IconButton> -->

          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus debitis dicta facere. Non, facere sed? Esse
          minus nostrum, ut iure, neque fuga fugiat quos quasi, ducimus incidunt porro voluptas. Vel maiores esse
          similique, blanditiis natus ullam illo sequi ut nisi molestiae optio ab. Laboriosam suscipit nesciunt odio
          quae! Dolorum ab, aperiam unde animi voluptatem iste officia ullam itaque ratione minima esse magni
          perspiciatis doloribus repudiandae. Eius cupiditate ab vel quis neque architecto, amet, sed corrupti nemo est
          ad officiis commodi maiores voluptates ipsum praesentium. Sit veniam similique velit ullam fuga! Possimus
          nihil dicta, nisi impedit repellendus, debitis vero asperiores quae quibusdam voluptate qui accusamus quidem,
          veritatis nam facilis dolores. Animi ducimus reprehenderit obcaecati excepturi. Reiciendis, officiis mollitia
          natus cupiditate rerum, laudantium beatae quis, distinctio totam eveniet a neque quas voluptas laborum commodi
          tempore id aspernatur recusandae dolor ut saepe enim sunt fugit. Hic atque reiciendis vel aperiam nemo tempora
          facilis autem unde cumque soluta incidunt eaque ducimus architecto iste culpa nam labore consectetur dolores,
          a aliquid laborum. Amet assumenda velit ratione expedita provident delectus quisquam hic, rem voluptate earum
          tenetur quibusdam dolorum distinctio dolorem, error, exercitationem laborum sint nemo consequuntur quidem?
          Laudantium commodi, minima exercitationem qui autem fugiat expedita error sed architecto, nesciunt, magni
          neque beatae aliquid dolorem dolorum ipsa debitis alias maiores quas corrupti consequatur repellendus quaerat
          tempore a. Distinctio repellat iusto neque repellendus itaque officia laborum delectus doloremque fugit ut
          alias, quos ullam, autem eligendi quidem cumque quisquam dignissimos. Nesciunt quidem, totam iure expedita
          vitae, illo odit impedit et vero commodi quas hic voluptatum ea. Vero saepe cumque, nostrum placeat voluptate
          debitis non architecto, perspiciatis, tempore possimus nesciunt consequuntur explicabo facere eligendi quis.
          Natus non iure voluptate tempora, aliquid voluptas minus consectetur necessitatibus beatae est! Animi quas
          labore ipsa totam nam quam vitae culpa repellendus expedita id ipsum cum sunt ullam, iste ratione consequatur
          quisquam? Assumenda similique quis omnis quibusdam harum rem ipsam eveniet et nobis, alias doloribus illo
          laboriosam laudantium commodi totam, mollitia nostrum minima fugit voluptatum facere voluptate at non quas?
          Sapiente cum, iusto blanditiis doloribus consectetur incidunt vitae velit voluptatem illo. Esse ut
          consequatur, dicta maiores ad amet doloremque tempora adipisci ipsum error perferendis quis qui quo. Sapiente
          repellendus saepe neque voluptate non. Ad cupiditate quis, veniam voluptate mollitia delectus unde
          voluptatibus accusantium tempora commodi ullam illum nisi incidunt deleniti repellendus, ab quia blanditiis
          tempore qui adipisci asperiores, nam distinctio repellat nulla. Voluptas optio aliquam provident tempora
          nesciunt a. Nostrum, dolor. Totam mollitia numquam, nisi assumenda id nemo est minima pariatur repudiandae
          dolor hic. Distinctio repudiandae accusamus quo veniam maxime doloremque nostrum earum vero perferendis
          blanditiis soluta esse, expedita porro inventore reiciendis harum! Nemo exercitationem numquam qui accusantium
          totam? Expedita blanditiis non, dolore, aliquid enim autem dolores quia velit nemo incidunt alias. Autem modi
          vel temporibus sequi? Voluptas quod voluptatum assumenda, saepe deserunt modi. Sunt consequatur cumque soluta
          mollitia ad odit similique asperiores, dolorem veniam cum sapiente voluptatum pariatur a porro perspiciatis
          quas nobis optio fugiat earum? Sit nemo, assumenda voluptatem et incidunt temporibus optio?
        </div>
      </div>
      <div class="mt-32pxr grid px-24pxr">dd</div>
    </div>
  </div>
</MainLayout>
