---
import { getCollection } from 'astro:content';
import MainLayout from '@components/layout/MainLayout.astro';
import { HomeMainImage, HomeProjectSlide, HomeStorySlide } from '@components/home';
import { Section } from '@components/common';
import { PROJECT_SLIDE_MAX_COUNT, STORY_SLIDE_MAX_COUNT } from '@constants';

const projectCollection = await getCollection('project');
const projects = projectCollection
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, PROJECT_SLIDE_MAX_COUNT);

const storyCollection = await getCollection('story');
const stories = storyCollection
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, STORY_SLIDE_MAX_COUNT);
---

<MainLayout pageTitle="ë£¨ì‹œë“œ ë“œë¦¼ ð–¤">
  <HomeMainImage />
  <Section className="mt-12 h-[496px] lg:mt-20" loading="lazy" client:load>
    <HomeProjectSlide projects={projects} client:only />
  </Section>
  <Section className="mb-12 mt-8 h-[496px] lg:mb-24 lg:mt-12" loading="lazy" client:load>
    <HomeStorySlide stories={stories} client:only />
  </Section>
</MainLayout>
