---
import { getCollection } from 'astro:content';
import { HomeMainImage, HomeProjectSlider, HomeSectionTitle, HomeStorySlider } from '@components/home';
import { Layout } from '@components/layout';
import { PROJECT_SLIDE_MAX_COUNT, STORY_SLIDE_MAX_COUNT } from '@constants';
import { Lazy, Responsive, Section } from '@components/common';

const projectCollection = await getCollection('project');
const projects = projectCollection
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, PROJECT_SLIDE_MAX_COUNT);

const storyCollection = await getCollection('story');
const stories = storyCollection
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, STORY_SLIDE_MAX_COUNT);
---

<Layout pageTitle="ë£¨ì‹œë“œ ë“œë¦¼ ð–¤">
  <HomeMainImage />
  <Section className="mb-12 mt-16 lg:mb-20 lg:mt-24">
    <Responsive className="px-0 lg:px-0">
      <Lazy id="lazy-project" className="relative h-[520px] px-2 lg:px-6">
        <HomeSectionTitle title="í”„ë¡œì íŠ¸" />
        <HomeProjectSlider projects={projects} client:only />
      </Lazy>
      <Lazy id="lazy-story" className="relative mt-6 h-[520px] px-2 lg:mt-14 lg:px-6">
        <HomeSectionTitle title="ìµœì‹  ìŠ¤í† ë¦¬" />
        <HomeStorySlider stories={stories} client:only />
      </Lazy>
    </Responsive>
  </Section>

  <!-- Head -->
  <link slot="preload-data" rel="preload" href="/images/main@3140.webp" as="image" />
</Layout>
