---
import Dim from '@components/common/Dim';
import { MAIN_IMAGE_SRC } from '@constants';
---

<div class="relative h-[70vh] w-full">
  <img src={MAIN_IMAGE_SRC} alt="대표" class="h-full w-full object-cover" />
  <Dim className="bg-dim-020" />
</div>
