---
import { Responsive, Section } from '@components/common';
import HomeSectionTitle from './HomeSectionTitle';
---

<Section className="mb-12 mt-6 h-[520px] lg:mb-20 lg:mt-14" loading="lazy" client:load>
  <Responsive className="relative px-2 lg:px-6">
    <HomeSectionTitle title="최신 스토리" />
    <slot />
  </Responsive>
</Section>
