---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import { Lazy, Responsive, Section } from '@components/common';
import { SearchResult, SearchResultHeader } from '@components/search';
import { Layout } from '@components/layout';
import { getCategoryNameFromSlug, getStoryLinkFromSlug } from '@utils/post';
import { PageSEO } from '@components/helper';

export const getStaticPaths = (async () => {
  // 스토리 컬렉션에서 태그 목록 추출
  const storyCollection = await getCollection('story');
  const tags = [...new Set(storyCollection.map((story) => story.data.tags).flat())];

  return tags.flatMap((tag) => {
    return {
      params: { tag },
      props: {
        stories: storyCollection
          .filter((story) => story.data.tags.includes(tag))
          .map((story) => ({
            item: {
              ...story.data,
              href: getStoryLinkFromSlug(story.slug),
              category: {
                key: story.slug.split('/')[0],
                value: getCategoryNameFromSlug(story.slug),
              },
            },
          })),
      },
    };
  });
}) satisfies GetStaticPaths;

const { stories } = Astro.props;
const { tag } = Astro.params;
---

<Layout pageTitle={`'${tag}' 태그 검색 결과 (｡•̀ᴗ-)✧`} headerBg>
  <Section>
    <Responsive>
      <SearchResultHeader query={tag} suffixText="태그 스토리" />
      <Lazy className="mt-12 lg:mt-20">
        <SearchResult datas={stories} client:load />
      </Lazy>
    </Responsive>
  </Section>

  <!-- HEAD -->
  <PageSEO
    slot="meta-data"
    title={`'${tag}' 태그 검색 결과 (｡•̀ᴗ-)✧`}
    description="태그 검색을 통해 알맞은 스토리를 찾아보세요 ✨"
    keywords={['태그', 'Tag', '태그 검색']}
  />
</Layout>
