---
import { Responsive, Section } from '@components/common';

type Props = {
  query: string;
  text?: string;
};

const { query, text = '검색 결과' } = Astro.props;
---

<Section className="mt-12 lg:mt-20">
  <Responsive>
    <p class="flex flex-wrap gap-2 text-3xl font-semibold text-gray-400 lg:gap-3 lg:text-4xl">
      <span class="text-black">'{query}'</span>
      <span>{text}</span>
    </p>
  </Responsive>
</Section>
