---
type Props = {
  query: string;
};

const { query } = Astro.props;
---

<h1 class="flex flex-wrap gap-2 text-4xl font-semibold lg:gap-3 lg:text-5xl">
  <span class="text-black">'{query}'</span>
  <span class="text-gray-400">검색 결과</span>
</h1>
