---
import Responsive from './Responsive';
---

<footer class="h-[160px] bg-black lg:h-[200px]">
  <Responsive>
    <div class="flex h-full flex-col items-center justify-center gap-2">
      <p class="flex gap-1 text-sm text-white lg:text-base">
        <span class="text-yellow-300">✧</span>
        <span>Lucid Dream. 화려히 반짝일 나의 스토리 안에서</span>
        <span class="text-yellow-300">✧</span>
      </p>
      <p class="text-sm text-white lg:text-base">ⓒ 2023. Lucid. All rights reserverd.</p>
    </div>
  </Responsive>
</footer>
