<footer class="grid h-164pxr w-full place-items-center bg-gray desktop:h-208pxr">
  <div class="flex flex-col items-center gap-4pxr desktop:gap-8pxr">
    <p class="text-sm text-white desktop:text-base">
      <span class="text-yellow-300">✧</span>
       Lucid Dream. 화려히 반짝일 나의 스토리 안에서
      <span class="text-yellow-300">✧</span>
    </p>
    <p class="text-sm text-white desktop:text-base">ⓒ 2023. Lucid. All rights reserverd.</p>
  </div>
</footer>
