---
type Props = {
  tags: string[];
};

const { tags } = Astro.props;
---

<ul class="mt-12 flex flex-wrap gap-2 lg:mt-20">
  {
    tags.map((tag) => (
      <li>
        <a
          class="block rounded-[4px] bg-black px-4 py-2 text-sm text-white lg:hover:bg-black/90"
          href={`/tag/${tag}`}
          title={`${tag} 태그를 가진 스토리 보러가기`}
          aria-label={`${tag} 태그를 가진 스토리 보러가기`}
        >
          {tag}
        </a>
      </li>
    ))
  }
</ul>
