---
import { Image } from 'astro:assets';
import { IconMail, IconBrandNotion, IconBrandLinkedin, IconBrandGithub } from '@tabler/icons-react';
import profileImage from '@assets/lucid.png';
import PostExternalLink from './PostExternalLink.astro';
---

<div
  class="mt-12 flex flex-col items-center gap-6 border-t border-gray-200 pt-12 lg:mt-20 lg:flex-row lg:gap-12 lg:pt-20"
>
  <div class="shrink-0">
    <Image src={profileImage} alt="루시드" class="h-40 w-40 rounded-full lg:h-48 lg:w-48" />
  </div>
  <div class="flex flex-col items-center lg:items-start">
    <p class="flex items-center gap-2 text-lg font-medium">
      Written by
      <a class="inline-block rounded-md bg-primary px-2 py-1 text-white lg:hover:bg-primary/90" href="/about">
        @Lucid
      </a>
    </p>
    <p class="hidden text-gray-600 lg:mt-4 lg:block">
      상상만 하고 있던 것을 어떻게든 구현하고 싶어하는 개발자입니다. 무엇인가 만드는 행위 자체에 관심이 많으며,
      프로그래밍을 누구나 즐길 수 있도록 도와주는 멘토가 되고 싶은 바람을 갖고 있습니다.
    </p>
    <ul class="mt-6 flex gap-2">
      <PostExternalLink href="https://github.com/n0hack">
        <IconBrandGithub className="text-white" />
      </PostExternalLink>
      <PostExternalLink href="https://github.com/n0hack">
        <IconBrandLinkedin className="text-white" />
      </PostExternalLink>
      <PostExternalLink href="mailto:jihun@lucid-dream.net">
        <IconMail className="text-white" />
      </PostExternalLink>
      <PostExternalLink href="https://github.com/n0hack">
        <IconBrandNotion className="text-white" />
      </PostExternalLink>
    </ul>
  </div>
</div>
