---
import { twMerge } from 'tailwind-merge';
import { CATEGORY_NAME } from '@constants';
import { IconArrowRight } from '@tabler/icons-react';
import type { Story } from '@custom-types';

type Props = {
  category: string;
  currentStory: Story;
  otherStories: Story[];
};

const { category, currentStory, otherStories } = Astro.props;
---

<div class="mt-12 rounded-md bg-gray-100 p-6 lg:mt-20">
  <p class="flex gap-1 text-gray-600">
    <a class="truncate font-semibold text-black lg:hover:text-black/90" href={`/story/${category}/page/1`}>
      '스토리 - {CATEGORY_NAME(category)}'
    </a>의 다른 글
  </p>
  <hr class="my-6 border-gray-200" />
  <ul class="flex flex-col gap-2">
    {
      otherStories.map((otherStory) => (
        <li>
          <a
            class="group flex items-center justify-between gap-4"
            href={`/story/${otherStory.slug.replace('/', '/post/')}`}
          >
            <span
              class={twMerge(
                'flex-1 truncate text-gray-400 lg:group-hover:font-semibold lg:group-hover:text-black',
                otherStory.slug === currentStory.slug && 'font-semibold text-black',
              )}
            >
              {otherStory.data.title}
            </span>
            <IconArrowRight className="text-gray-600" />
          </a>
        </li>
      ))
    }
  </ul>
</div>
