<div id="comments" class="mt-12 lg:mt-20">
  <script
    src="https://giscus.app/client.js"
    data-repo="n0hack/lucid-dream-comments"
    data-repo-id="R_kgDOKxzqIQ"
    data-category="Comments"
    data-category-id="DIC_kwDOKxzqIc4CbPSv"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="https://download1638.mediafire.com/oubwr7r7mtmg0TyMnSLikoS3z8GIsdy0dSIX0hNWQ6wxnBQI9a2zkromiXl5RQjX5DHdgcRgpuYTscSAzsKUI5RirMIDnqMb79N5bRPirHqG9f1Pm8lcWKsIqqQprnSlZ-Ipu-LC_mkuN3qZ5t6mFqyyT5pPJGxGF9wYXopiXDVKt_Q/8w98dqp2hj9x38p/giscus.css"
    data-lang="ko"
    crossorigin="anonymous"
    data-loading="lazy"
    async></script>
</div>

<!-- data-theme="preferred_color_scheme" -->
