---
import { Dim, Responsive } from '@components/common';
import type { AstroImage } from '@custom-types/post';
import { Image } from 'astro:assets';
import dayjs from 'dayjs';

type Props = {
  thumbnail: AstroImage;
  title: string;
  date: Date;
  category: string;
};

const { thumbnail, title, date, category } = Astro.props;
---

<div class="relative h-[360px] min-h-[360px] w-full overflow-hidden lg:h-[420px] lg:min-h-[420px]">
  <div class="h-full w-full blur-lg">
    <Image class="h-full w-full object-cover" src={thumbnail} alt={`${title} 썸네일`} />
  </div>
  <Dim className="bg-dim-080" />
  <div class="absolute inset-0 flex h-full w-full pb-16 lg:pb-24">
    <Responsive className="flex flex-col justify-end">
      <div class="flex flex-col gap-6 lg:gap-8">
        <h1 class="text-3xl font-semibold text-white lg:text-4xl">{title}</h1>
        <p class="text-sm font-medium text-white lg:text-base">
          <span>{dayjs(date).format('YYYY. MM. DD')}</span>
          <span>﹒</span>
          <span>{category}</span>
        </p>
      </div>
    </Responsive>
  </div>
</div>
